{#
/**
 * @file
 * Theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Video" it would result in "node--type-video". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{%
set node_classes = [
  'node',
  'interview',
  'node-type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node-promoted',
  node.isSticky() ? 'node-sticky',
  not node.isPublished() ? 'node-unpublished',
  view_mode ? 'node-view-mode-' ~ view_mode|clean_class,
]
%}

<content{{ attributes.addClass(node_classes) }}>
  <div class="content-title pb-4">
    {# content-type #}
    <div class="content-type no-print text-sm fw-normal">Wawancara</div>

    {# page-title #}
    <div class="title text-xlg fw-bolder pt-4">{{ node.label }}</div>

    <div class="node-share inline no-print py-2">
      {% set share_block = drupal_region('share_block', 'kym', true) %}
      {% if share_block %}
        <div class="text-sm">Kongsi:</div>
        {{ share_block }}
      {% endif %}
    </div>
  </div>

  <div class="content-header no-print">
    <div class="grid grid2-60-40">
      {# interview image #}
      <div class="w-100 p-0">
        <div class="interview-image text-center">
          {% if node.field_code_interview is not empty %}
            {% set embed_code = node.field_code_interview.value %}
            {{ embed_code|raw }}

            <div class="image-title text-sm text-italic">
              {{ node.label }}
            </div>

          {% elseif node.field_link_interview is not empty and node.field_code_interview is empty %}
            {% set interview_url = node.field_link_interview.uri %}
            {% if 'youtube' in interview_url %}
              {% set yt_id = interview_url|split('?v=')|last %}
              <iframe width="681" height="383" src="https://www.youtube.com/embed/{{ yt_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              <div class="image-title text-sm text-italic">
                {{ node.label }}
              </div>
            {% endif %}

          {% else %}
            <img class="img-interview border-radius-2xl" src="/sites/default/files/images/no-image.png">
          {% endif %}
        </div>
      </div>

      <div class="w-100 py-0 ps-5">
        <div class="node-panelist py-2">
          <div class="label d-inline">Panel undangan:</div>
          <div class="display d-inline">
            <a href="/panel/{{ node.field_panel.entity.id() }}">
              <span class="fw-bold text-capital">
                {{ node.field_panel.entity.label }}
                {# ( {{ node.field_panel.entity.id() }} ) #}
              </span>
            </a>
          </div>
        </div>

        <div class="node-channel py-2">
          <div class="label d-inline">Saluran:</div>
          <div class="display d-inline">
            {% if node.field_select_channel.value == 'tv'  %}
              TV - <a href="/tv_channel/{{ node.field_channel_tv.entity.id() }}">
                {{ node.field_channel_tv.entity.label }}
              </a>

            {% elseif node.field_select_channel.value == 'radio' %}
              Radio - <a href="/radio_channel/{{ node.field_channel_radio.entity.id() }}">
              {{ node.field_channel_radio.entity.label }}
              </a>
            {% endif %}
          </div>
        </div>

        <div class="node-body d-none py-2">
          <div class="display text-left">
            {{ node.body.value|t() }}
          </div>
        </div>

        {% if node.field_link_interview is not empty %}
          <div class="node-download no-print py-2">
            <div class="label hide">Download:</div>
            <div class="display text-start">
              <input id="interview_link" class="w-65 d-inline-block" type="text" readOnly value="{{ node.field_link_interview.uri }}"/>
              <a id="copy_url" class="button w-30 d-inline-block text-center" href="javascript:;">
                <i id="icon_copy" class="far fa-copy"></i>
                <span id="copy_text">Salin</span>
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    {% if taxonomy_data is not empty %}
      <div class="node-tag no-print mb-3 py-1">
        <div class="display d-inline">Tags:</div>
        <ul class="d-inline list-unstyled">
          {% set n = 0 %}
          {% for term in taxonomy_data %}
            {% if n > 0 %}
              ,
            {% endif %}
            <li class="list-inline-item">
              <a href="{{ term.url }}">{{ term.name }}</a> {# ( {{ term.id }} ) #}
            </li>
            {% set n = n + 1 %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>

  {%
    set contentbody = {
      '#type': 'processed_text',
      '#text':  node.body.value,
      '#format': node.body.format,
    }
  %}
  {% set body_text = node.body.value %}
  {% set max_length = 1000 %}
  {% set max = (body_text|length / max_length)|round %}
  <div class="content-body">
    <div class="display">
      {{ content.body }}
    </div>
  </div> {# interview-body #}
</content>

{{ attach_library('kym/nodecss') }}
{{ attach_library('kym/interviewjs') }}
