{%
  set show_forth = page.footer_fourth or show_footer_icon or footer_icon_hashtag ? 1 : 0
%}
{%
  set add_class = [
    'footer-middle',
    'grid',
    page.footer_first and page.footer_second and page.footer_third and show_forth ? 'grid4-4-3-auto',
    page.footer_first and page.footer_second and page.footer_third and not show_forth ? 'grid3-5-4-1',
    page.footer_first and page.footer_second and not page.footer_third and show_forth ? 'grid3-4-4-2',
    page.footer_first and not page.footer_second and page.footer_third and show_forth ? 'grid3-s50-auto',
    not page.footer_first and page.footer_second and page.footer_third and show_forth ? 'grid4-s40-auto',
    page.footer_first and not page.footer_second and not page.footer_third and show_forth ? 'grid2-80-20',
    not page.footer_first and page.footer_second and not page.footer_third and show_forth ? 'grid2-70-30',
  ]
%}
<div{{ create_attribute().addClass(add_class) }}>
  {% if page.footer_first %}
    <div class="footer-middle-first footer-middle-block pe-2">
      {{ page.footer_first }}
    </div>
  {% endif %} {# end condition for footer_first #}

  {% if page.footer_second %}
    <div class="footer-middle-second footer-middle-block px-2">
      {{ page.footer_second }}
    </div>
  {% endif %} {# end condition for footer_second #}

  {% if page.footer_third %}
    <div class="footer-middle-third footer-middle-block px-2">
      {{ page.footer_third }}
    </div>
  {% endif %} {# end condition for footer_third #}

  {% if page.footer_fourth or show_footer_icon or footer_icon_hashtag %}
    <div class="footer-middle-fourth footer-middle-block ps-2">
      {% if page.footer_fourth %}
        <div class="footer-middle-fourth-container">
          {{ page.footer_fourth }}
        </div>
      {% endif %}

      {% if show_footer_icon or footer_icon_hashtag %}
        <div class="footer-social-media bg-secondary border-radius-xl mt-4 py-4 text-center">
          {% if show_footer_icon %}
            {% include '@kym/template-parts/social-icons.html.twig' %}
          {% endif %}

          {% if footer_icon_hashtag %}
            <div class="d-block mt-2">
              <span class="font-weight-bold text-white text-sm ms-1">
                {{ footer_icon_hashtag }}
              </span>
            </div>
          {% endif %}

        </div>
      {% endif %}

    </div>
  {% endif %} {# end condition for page.footer_fourth or show_footer_icon or footer_icon_hashtag #}

</div>
